@model SaleManagement.Protal.Models.SpotGoods.SpotGoodsViewModel
@{
    Title("现货");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <ul class="breadcrumb">
        <li>
            <a href="/home/index">首页</a>
        </li>
        <li>
            <a href="/SpotGoods/list">现货管理</a>
        </li>
        <li>
            <a href="/SpotGoods/create">新增现货</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>新增/编辑现货</h2>
            </div>
            <div class="box-content">
                @using (Html.BeginForm("Create", "SpotGoods", FormMethod.Post, new { id = "SpotGoodsForm" }))
                {
                    <input type="hidden" name="attachmentIds" id="attachmentIds" />
                    <input type="hidden" name="SetStoneInfos" id="SetStoneInfos" />
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-horizontal ptop5">
                        <div class="form-group">
                            <label class="control-label col-md-2"><span class="text-danger">*</span>现货款式：</label>
                            <div class="col-md-2 col-xs-8">
                                <select id="spotGoodsPatternId" name="spotGoodsPatternId" class = "form-control" data-bind="foreach:patterns">
                                    <option data-bind="text: name,value:id"></option>
                                </select>
                               <input id="hideSpotGoodsPatternId" type="hidden" value="@Model.SpotGoodsPatternId"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2"><span class="text-danger">*</span>成色：</label>
                            <div class="col-md-10 col-xs-8">
                                <span class="@(Model.ColorFormId==5 ? "btn btn-sm btn-default btn-primary" : "btn btn-sm btn-default")" name="btnSpan" data-value="5">18K白</span>
                                <span class="@(Model.ColorFormId==4 ? "btn btn-sm btn-default btn-primary" : "btn btn-sm btn-default")" name="btnSpan" data-value="4">18K红</span>
                                <span class="@(Model.ColorFormId==3 ? "btn btn-sm btn-default btn-primary" : "btn btn-sm btn-default")" name="btnSpan" data-value="3">18K黄</span>
                                @Html.TextBoxFor(model => model.ColorFormId, new { @class = "form-control hide" })
                                @Html.ValidationMessageFor(model => model.ColorFormId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2"><span class="text-danger">*</span>主石：</label>
                            <div class="col-md-10 col-xs-8">
                                @foreach (var mainStoneType in SaleManagement.Core.SaleManagentConstants.UI.MainStoneTypes)
                                {
                                    <span class="@(mainStoneType == Model.MainStone ? "btn btn-sm btn-default btn-primary" : "btn btn-sm btn-default")" name="btnSpan" data-value="@mainStoneType">@mainStoneType</span>
                                }
                                @Html.TextBoxFor(model => model.MainStone, new { @class = "form-control hide" })
                                @Html.ValidationMessageFor(model => model.MainStone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2"><span class="text-danger">*</span>手寸：</label>
                            <div class="col-md-10 col-xs-8" id="divColorFormId">
                                @foreach (var handSize in SaleManagement.Core.SaleManagentConstants.UI.HandSizes)
                                {
                                    <span class="@(handSize == Model.HandSize ? "btn btn-sm btn-default btn-primary" : "btn btn-sm btn-default")" name="btnSpan" data-value="@handSize">@handSize</span>
                                }
                                @Html.HiddenFor(model => model.HandSize)
                                @Html.ValidationMessageFor(model => model.HandSize, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-xs-4"><span class="text-danger">*</span>总重：</label>
                            <div class="col-md-2 col-xs-8">
                                @Html.TextBoxFor(model => model.Weight, new { @class = "form-control", placeholder = "请输入总重", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-xs-4"><span class="text-danger">*</span>净金重：</label>
                            <div class="col-md-2 col-xs-8">
                                @Html.TextBoxFor(model => model.GoldWeight, new { @class = "form-control", placeholder = "请输入净金重", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.GoldWeight, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-xs-4"><span class="text-danger">*</span>损耗比：</label>
                            <div class="col-md-2 col-xs-8">
                                @Html.TextBoxFor(model => model.Loss18KRate, new { @class = "form-control", placeholder = "请输入损耗比", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Loss18KRate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-xs-4"><span class="text-danger">*</span>基本工费：</label>
                            <div class="col-md-2 col-xs-8">
                                @Html.TextBoxFor(model => model.BasicCost, new { @class = "form-control", placeholder = "请输入基本工费", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.BasicCost, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-xs-4"><span class="text-danger">*</span>镶嵌费用：</label>
                            <div class="col-md-2 col-xs-8">
                                @Html.TextBoxFor(model => model.MosaicCost, new { @class = "form-control", placeholder = "请输入镶嵌费用", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.MosaicCost, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-xs-4"><span class="text-danger">*</span>总额：</label>
                            <div class="col-md-2 col-xs-8">
                                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", placeholder = "请输入总额", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="box-content">
                                <div class="center"><button type="button" data-bind="click:addSetStone" class="btn btn-primary">新增副石</button></div>
                                <table class="table table-striped table-bordered bootstrap-datatable  responsive">
                                    <thead>
                                        <tr>
                                            <th>副石品类</th>
                                            <th>数目</th>
                                            <th>石重（ct）</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:setStonInfos">
                                        <tr>
                                            <td data-bind="text:matchStoneName"></td>
                                            <td data-bind="text:number"></td>
                                            <td data-bind="text:weight"></td>
                                            <td>
                                                <a data-bind="click:$parent.deleteClick" class="btn btn-sm btn-primary"  ><i class="glyphicon glyphicon-remove"></i>删除</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @if (Model.Status == (int)SaleManagement.Core.Models.SpotGoodsStatus.New)
                        {
                            <div class="form-group text-center">
                                <button type="submit" id="saveSpotGoods" class="btn btn-primary text-center">保存</button>
                            </div>
                        }
 
                       
                    </div>
                }
            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
@{

    var stoneJsonItems = Model.SetStoneInfos.Select(item => string.Format("{{matchStoneName:\"{0}\",number:\"{1}\",weight:\"{2}\",matchStoneId:\"{3}\",id:\"{4}\"}}",
        item.MatchStoneName, item.Number, item.Weight, item.MatchStoneId,item.Id)).ToList();
}
<script type="text/javascript">
    var stoneData =[@Html.Raw(string.Join(",", stoneJsonItems))];
</script>
@section scripts{
    @Scripts.Render("~/bundles/js/knockout")
    @Scripts.Render("~/bundles/js/jqueryval")
    @Scripts.Render("~/bundles/js/ajaxForm")
    @Scripts.Render("~/bundles/js/SpotGoods/create")
}