@model SaleManagement.Protal.Models.SpotGoods.SpotGoodsViewModel
@{
    Title("现货详情");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <ul class="breadcrumb">
        <li>
            <a href="/home/index">首页</a>
        </li>
        <li>
            <a href="/SpotGoods/list">现货管理</a>
        </li>
        <li>
            <a href="/SpotGoods/create">现货详情</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>现货详情</h2>
            </div>
            <div class="box-content">
                <div class="row">
                    <div class="col-md-3"><label>品名：</label>@Model.SpotGoodsPatternName</div> 
                    <div class="col-md-3"><label>成色：</label>@Model.ColorFormName</div> 
                    <div class="col-md-3"><label>主石：</label>@Model.MainStone</div> 
                    <div class="col-md-3"><label>手寸：</label>@Model.HandSize</div> 
                </div>
                <div class="row">
                    <div class="col-md-3"><label>总重：</label>@Model.Weight</div>
                    <div class="col-md-3"><label>净金重：</label>@Model.GoldWeight</div>
                    <div class="col-md-3"><label>金价：</label></div> 
                </div>
            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->
 