﻿@model SaleManagement.Protal.Models.Me.ChangePasswordViewModel

<div class="form-horizontal">
    @using (Html.BeginForm("Password", "Me", FormMethod.Post, new { id = "updatePwd" }))
    {
        <div class="form-group">
            <div class="col-md-5">
                @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control text-box single-line password", placeholder = "原密码" })
                @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control text-box single-line password", placeholder = "新密码" })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control text-box single-line password", placeholder = "请再输一遍新密码" })
                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <input type="submit" value="修改" class="btn btn-primary" />
            </div>
        </div>
    }
</div>
