@model SaleManagement.Protal.Models.Order.OrderViewModel
@{
    Title("下单");
    Layout = "~/Views/Shared/_customerLayout.cshtml";
}

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <div class="box-icon pull-left back">
                    <a  class="btn">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </a>
                </div>
                <span class="title">下单</span>
            </div>
            <div class="box-content">
                <form method="post" action="~/order/booking" id="OrderBooking">
                    <div class="form-horizontal">
                        @Html.Hidden("customerId", User.Id)
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.DeliveryDate)
                        @Html.Partial("_Orderbooking")
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->
@section scripts{
    @Scripts.Render("~/bundles/js/dateTimePicker")
    @Scripts.Render("~/bundles/js/knockout")
    @Scripts.Render("~/bundles/js/jqueryval")
    @Scripts.Render("~/bundles/js/ajaxForm")
    @Scripts.Render("~/bundles/js/fileupload")
    @Scripts.Render("~/bundles/js/order/booking")
    @Scripts.Render("~/bundles/js/control/customer")
}

