@{
    Title("下单");
    Layout = "~/Views/Shared/_customerLayout.cshtml";
}

<div>
    <ul class="breadcrumb">
        <li>
            <a href="/customer/home/index">首页</a>
        </li>
        <li>
            <a href="/customer/order/booking">下单</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>下单</h2>
            </div>
            <div class="box-content">
                <form method="post" action="~/order/booking" id="OrderBooking">
                    <div class="form-horizontal">
                        @Html.Hidden("customerId", User.Id)
                        @Html.Partial("_Orderbooking")
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->
@section scripts{
    @Scripts.Render("~/bundles/js/knockout")
    @Scripts.Render("~/bundles/js/jqueryval")
    @Scripts.Render("~/bundles/js/ajaxForm")
    @Scripts.Render("~/bundles/js/fileupload")
    @Scripts.Render("~/bundles/js/order/booking")
}

