@model SaleManagement.Protal.Models.Order.OrderListItemViewModel
@using Dickson.Core.Common.Extensions
@{
    ViewBag.Title = "订单详情";
    Layout = null;

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/Bundles/Static/Css/Bootstrap")
    @Styles.Render("~/Bundles/Static/Css/Layout")

    <style type="text/css">
        body {
            color: #000000;
        }

        .table {
            margin-bottom: 0px;
        }

            .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
                padding: 3px;
                border: 1px solid #000000;
            }

            .table tr th {
                background-color: #ffffff;
                font-weight: normal;
            }

        .hightTd {
            background: #e2f1f1 !important;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2f1f1', endColorstr='#e2f9f9', GradientType=0);
        }

        .text-right {
            text-align: right;
        }
    </style>
</head>
<body>
    @{
        var isEmployee = User.IdentityType == SaleManagement.Core.Models.IdentityType.Employee;
    }
    <div style="margin:0px auto; width:980px;border:1px solid #e2f1f1">
        <div class="pull-right"><button id="btnPrint" class="btn btn-primary" onclick="printClick()">打印</button></div>
        <div id="divPrint">
            <div class="text-center">
                <h2><span style="color: red; font-weight: bold">@(string.IsNullOrEmpty(Model.VersionNo) ? "" : "热销款")</span><span>定制流程单</span> </h2> 
            </div>
            <table class="table table-bordered bootstrap-datatable" border="1">
                <tbody>
                    <tr>
                        <td colspan="2" class="text-center">订单号：@Model.Id</td>
                        <td colspan="2" class="text-center">制单日期：@Model.Created</td>
                        <td colspan="2" class="text-center">预计交货日期：@Model.DeliveryDate</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">成色：<span style="background-color: #b6ff00">@Model.ColorFormName</span></td>
                        <td colspan="2" class="text-center">制单人：@Model.CreatorName</td>
                        <td colspan="2" class="text-center">客户：@Model.CustomerName</td>
                    </tr>
                    <tr>
                        <td class="hightTd text-right">宝石</td>
                        <td class="hightTd text-center"> @Model.GemCategoryName</td>
                        <td class="text-right hightTd">设计类别</td>
                        <td class="text-center hightTd">@Model.ModuleTypeName</td>
                        <td colspan="2" rowspan="6" style="width: 80px">字印要求(备注)：
                            <div>@Model.WordsPrinted</div>
                            <div>@Model.Remark</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">品类</td>
                        <td class="text-center">@Model.ProductCategoryName</td>
                        <td class="text-right" style="width: 100px">件数</td>
                        <td class="text-center">
                           @Model.Number
                        </td> 
                    </tr>
                    <tr>
                        <td class="hightTd text-right">指圈</td>
                        <td class="hightTd text-center">@Model.RangSize</td>
                        <td class="hightTd text-right">预算</td>
                        <td class="hightTd text-center">@Model.Budget</td>
                    </tr>
                    @*<tr>
                        <td class="text-right">件数</td>
                        <td class="text-center">@Model.Number</td>
                        <td class="text-right">设计类别</td>
                        <td class="text-center">@Model.ModuleTypeName</td>
                    </tr>*@
                    <tr>
                        <td class="text-right">主石重</td>
                        <td class="text-center">@Model.MainStoneSize</td>
                        <td class="text-right">版号</td>
                        <td class="text-center">@Model.VersionNo</td>
                    </tr>
                    <tr>
                        <td class="hightTd text-right">证书号</td>
                        <td class="hightTd text-center">@Model.Certificate</td>
                        <td class="hightTd text-right">保价金额</td> 
                        <td class="hightTd text-center">@(Model.Insurance)</td>
                    </tr>
                </tbody>
            </table>
            @if (Model.MainStoneInfos.Any())
            {
                <table class="table table-bordered bootstrap-datatable">
                    <thead>
                        <tr>
                            <th>主石</th>
                            <th>重量（ct）</th>
                            <th>风险</th>
                            <th>上传时间</th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model.MainStoneInfos)
                        {
                            <tr>
                                <th>@item.MainStoneName</th>
                                <th>@item.Weight</th>
                                <th>@item.RiskType.GetDisplayName()</th>
                                <th>@item.Created</th>
                                @{
                                    var viewUrl = "/order/ViewMainStoneAttachements?mainStoneId=" + @item.Id ;
                                    <th><a class="cboxElement" target="_blank" onclick="window.open('@viewUrl')" href="javascript:void(0);">查看</a></th>
                                }
                            </tr>
                                    }

                    </tbody>
                </table>
                                    }
            <div class="ptop5" style="min-height:590px;width:800px; margin-left:5px;display:inline-block" id="divImage">
                @{
                    foreach (var item in Model.Attachments)
                    {
                        var previewUrl = "/Attachment/" + @item.Id + "/preview";
                        <div style="float:left;margin-left:5px;">
                            <a class="cboxElement" target="_blank" onclick="window.open('@previewUrl')" href="javascript:void(0);"><img height="295" width="300" src="@item.Url"></a>
                        </div>
                    }
                }
            </div>
            @if (isEmployee)
            {
                <table class="table table-bordered bootstrap-datatable">
                    <tbody>
                        <tr>
                            <th>部门</th>
                            <th>日期</th>
                            <th>发货重</th>
                            <th>员工签名</th>
                            <th>收货重</th>
                            <th>主石</th>
                            <th>副石</th>
                            <th>粒数</th>
                            <th>员工签名</th>
                            <th>件数</th>
                            <th>备注</th>
                        </tr>
                        <tr>
                            <td>执模</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>出水</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>微镶</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>手镶</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>抛光</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>打包</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </div>
</body>
</html>
@Scripts.Render("~/bundles/Static/js/jquery")
<script type="text/javascript">
    function printClick() {
        var headstr = "<html><head><title></title></head><body>";
        var footstr = "</body>";
        var newstr = document.all.item("divPrint").innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = headstr + newstr + footstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;
    }
</script>
