@model SaleManagement.Protal.Models.Order.DistributionOrderViewModel
@using SaleManagement.Core.Models
@using Dickson.Core.Common.Extensions
@{
    Layout = null;
}

@using (Html.BeginForm("DistributionOrder", "Order", FormMethod.Post, new { id = "distributionOrderForm" }))
{
    @Html.HiddenFor(model => model.OrderIds)
    <div class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">分单</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label col-md-2" for="Name">
                    <span class="text-danger">*</span>版类
                </label>
                <div class="col-md-6">
                    @{
                        var moduleTypeList = EnumExtensions.EnumToList(typeof(ModuleType)).Where(r=>r.Key!=0);
                    }
                    @foreach (var item in moduleTypeList)
                    {
                        <span class="btn btn-default mtop10" name="btnSpan" data-value="@item.Key">@item.Value</span>
                    }
                    <input type="hidden" id="moduleType" name="moduleType" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
            <input class="btn btn-primary" type="submit" value="保存" />
        </div>
    </div>
}

@Scripts.Render("~/bundles/js/jqueryval")
@Scripts.Render("~/bundles/js/ajaxForm")
<script type="text/javascript">
    var $from = $("#distributionOrderForm"),
        $moduleType = $("#moduleType");
    $(function () {
        $("span[name=btnSpan]").click(function () {
            var $spanBtn = $(this),
                roleCode = "";
            $spanBtn.siblings().removeClass("btn-primary");
            $spanBtn.addClass("btn-primary");
            var dataValue = $spanBtn.attr("data-value");
            $moduleType.val(dataValue);
        });
       
        $from.ajaxForm({
            beforeSubmit: function () {
                if ($moduleType.val() == "") {
                    shortTips("请选择版类");
                    return false;
                }
            },
            success: function (result) {
                if (result.succeeded) {
                    shortTips("保存成功"); 
                    $("#modal").modal('hide')
                } else {
                    shortTips(errorMessage(result));
                }
            }
        });
    })
</script>

