@using SaleManagement.Core;
@model SaleManagement.Protal.Models.Order.OrdersQueryRequest 
@{
    Title("订单管理");
}

@Styles.Render("~/Bundles/Static/Css/DateTimePicker")
<div>
    <ul class="breadcrumb">
        <li>
            <a href="/home/index">首页</a>
        </li>
        <li>
            <a href="/order/list">生产单管理</a>
        </li>
    </ul>
</div>
<div class="search">
    @Html.Partial("_Customer")
    <div class="textfield pull-left"><div class="field-body" style="width: 200px;"><input id="orderId" class="form-control" type="text" placeholder="输入单号,按Enter键查询"></div></div>
    @Html.Partial("_ColorForm")
    
    <div class="textfield combobox pull-left">
        @{
            var orderStatusItem = EnumHelper.GetSelectList(typeof(SaleManagement.Core.Models.OrderStatus));
        }
        <div class="combobox-body" style="width: 120px;">
            @Html.DropDownListFor(m => m.Status, orderStatusItem, "请选择单据状态", new { Class = "pull-left form-control" })
        </div>
    </div>
    <div class="textfield  pull-left">
        @{
            var urgentStatuItems = EnumHelper.GetSelectList(typeof (SaleManagement.Protal.Models.Order.UrgentStatus));
        }
        <div class="combobox-body" style="width: 80px;">
            @Html.DropDownListFor(m => m.UrgentStatus, urgentStatuItems, "加急状态", new {Class = "pull-left form-control"})
        </div>
    </div>
    <div class="textfield  pull-left hidden">
        @{
            var orderRushStatusItems = EnumHelper.GetSelectList(typeof(SaleManagement.Core.Models.OrderRushStatus));
        }
        <div class="combobox-body" style="width: 100px;">
            @Html.DropDownListFor(m => m.RushStatus, orderRushStatusItems, "客户加急状态", new { Class = "pull-left form-control" })
        </div>
    </div>
    <button id="btnSearch" class="btn btn-primary">查询</button>
</div>

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>生产单列表</h2>
                <div class="box-icon">
                    @if (ShowWithRoles(SaleManagentConstants.SystemRole.Admin, SaleManagentConstants.SystemRole.CustomerService))
                    {
                        <a id="btnDistribution" class="btn">
                            <i class="glyphicon glyphicon-share"></i>
                            调配
                        </a>
                        <a id="btnEdit" class="btn">
                            <i class="glyphicon glyphicon-edit"></i>
                            编辑
                        </a>
                    }
                    @if (ShowWithRoles(SaleManagentConstants.SystemRole.Admin, SaleManagentConstants.SystemRole.OutputWax))
                    {
                        <a id="btnDumpModule" class="btn">
                            <i class="glyphicon glyphicon-arrow-right"></i>
                            进入倒模
                        </a>
                    }
                    @if (ShowWithRoles(SaleManagentConstants.SystemRole.Admin, SaleManagentConstants.SystemRole.SendAndReceive))
                    {
                        <a id="btnNextStep" class="btn">
                            <i class="glyphicon glyphicon-arrow-right"></i>
                            下一工序
                        </a>
                        <a id="btnPack" class="btn">
                            <i class="glyphicon glyphicon-shopping-cart"></i>
                            打包
                        </a>
                    }
                    @if (ShowWithRoles(SaleManagentConstants.SystemRole.Admin, SaleManagentConstants.SystemRole.AssistantStone))
                    {
                        <a id="setStone" class="btn">
                            <i class="glyphicon glyphicon-edit"></i>
                            配石
                        </a>
                    }
                    @if (ShowWithRoles(SaleManagentConstants.SystemRole.Admin, SaleManagentConstants.SystemRole.Finance))
                    {
                        <a id="shipment" class="btn">
                            <i class="glyphicon glyphicon-share-alt"></i>
                            生成出货单
                        </a>
                    }
                    @if (ShowWithRoles(SaleManagentConstants.SystemRole.Admin))
                    {
                        <a id="btnDelete" class="btn">
                            <i class="glyphicon glyphicon-remove"></i>
                            删除
                        </a>
                    }
                    @if (ShowWithRoles(SaleManagentConstants.SystemRole.Admin))
                    {
                        <a id="btnStop" class="btn">
                            <i class="glyphicon glyphicon-stop"></i>
                            消单
                        </a>
                    }
                </div>
            </div>

            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable  responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th>订单编号</th>
                            <th>生产状态</th>
                            @*<th>客户加急</th>*@
                            <th>版类</th>
                            <th>品类</th>
                            <th>成色</th>
                            <th>手寸/链长</th>
                            <th>客来石重</th>
                            <th>件数</th>
                            <th>客户</th>
                            <th>下单日期</th>
                            <th>交货日期</th>
                            <th>处理人</th>
                        </tr>
                    </thead>
                    <tbody id="tbody" data-bind="foreach:orders">
                        <tr>
                            <td><input type="checkbox" data-bind="value:id,attr:{status:status},checked:false"/></td>
                            <td>
                                <a target="_blank" data-bind="text:id,attr:{href:'/order/detail?orderId='+id}">
                                </a>
                                <!-- ko if:urgent==1 -->
                                <i class="glyphicon glyphicon-bell yellow" title="紧急"></i>
                                <!-- /ko -->
                                <!-- ko if:urgent==2 -->
                                <i class="glyphicon glyphicon-bell red"  title="非常紧急"></i>
                                <!-- /ko -->
                            </td>
                            <td data-bind="text:statusName"></td>
                            @*<td data-bind="text:orderRushStatusName"></td>*@
                            <td data-bind="text:moduleTypeName"></td>
                            <td data-bind="text:productCategoryName"></td>
                            <td data-bind="text:colorFormName"></td>
                            <td data-bind="text:rangSize"></td>
                            <td data-bind="text:mainStoneSize"></td>
                            <td data-bind="text:number"></td>
                            <td data-bind="text:customerName"></td>
                            <td data-bind="text:created"></td>
                            <td data-bind="text:deliveryDate"></td>
                            <td data-bind="text:currentUserName"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center"><ul id="orderListPage"></ul></div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/js/dateTimePicker")
    @Scripts.Render("~/bundles/js/knockout")
    @Scripts.Render("~/bundles/js/pager")
    @Scripts.Render("~/bundles/js/order/list")
    @Scripts.Render("~/bundles/js/control/customer")
}
