@using SaleManagement.Core;
@{
    Title("待处理订单");
}

<div>
    <ul class="breadcrumb">
        <li>
            <a href="/home/index">首页</a>
        </li>
        <li>
            <a href="/order/list">待设计的订单</a>
        </li>
    </ul>
</div>
<div class="search">
    <div class="textfield pull-left"><div class="field-body" style="width: 150px;"><input id="orderId" class="form-control" type="text" placeholder="输入单号"></div></div>
    <div class="textfield pull-left">
        <div class="combobox pull-left">
            <div class="combobox-body" style="width: 150px;">
                <select class="pull-left form-control" id="orderStatus" name="orderStatus">
                    <option value="">请选择单据状态</option>
                    <option value="2">设计师设计</option>
                    <option value="3">客户待确认</option>
                    <option value="4">客户已确认</option>
                </select>
            </div>
        </div>
    </div>
    @Html.Partial("_ColorForm")
    <div class="textfield pull-left">
        <div class="combobox pull-left">
            <div class="combobox-body" style="width: 150px;">
                <select class="pull-left form-control" id="currentUser" name="currentUser"></select>
            </div>
        </div>
    </div>
    <button id="btnSearch" class="btn btn-primary">查询</button>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>待设计的订单</h2>
                <div class="box-icon">
                    @if (ShowWithRoles(SaleManagentConstants.SystemRole.Design))
                    {
                        <a id="btnAssginToMe" class="btn">
                            <i class="glyphicon glyphicon-share"></i>
                            我来设计
                        </a>

                        <a id="btnOutPutWax" class="btn">
                            <i class="glyphicon glyphicon-edit"></i>
                            出蜡
                        </a>
                    }
                </div>
            </div>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable  responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th>订单编号</th>
                            <th>生产状态</th>
                            <th>设计师</th>
                            <th>版类</th>
                            <th>成色</th>
                            <th>指圈</th>
                            <th>设计费用(元)</th>
                            <th>件数</th>
                            <th>客户</th>
                            <th>下单日期</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbody" data-bind="foreach:orders">
                        <tr>
                            <td><input type="checkbox" data-bind="value:id,attr:{status:status},checked:false" /></td>
                            <td><a target="blank" data-bind="text:id,attr:{href:'/order/detail?orderId='+id}"></a></td>
                            <td data-bind="text:statusName"></td>
                            <td data-bind="text:currentUserName"></td>
                            <td data-bind="text:moduleTypeName"></td>
                            <td data-bind="text:colorFormName"></td>
                            <td data-bind="text:rangSize"></td>
                            <td data-bind="text:outputWaxCost"></td>
                            <td data-bind="text:number"></td>
                            <td data-bind="text:customerName"></td>
                            <td data-bind="text:created"></td>
                            <td>
                                <!-- ko if:status==2|status==3 -->
                                <a class="btn btn-primary btn-sm" data-bind="click:$parent.uploadDesginImageClick">上传设计图</a>
                                <!-- /ko -->
                                <!-- ko if: status==2 & attachments.length >= 2-->
                                <a class="btn btn-primary btn-sm" data-bind="click:$parent.CustomerTobeConfirmClick">客户确认</a>
                                <!-- /ko -->
                                <a  target="blank"  class="btn btn-primary btn-sm" data-bind="attr:{href:'/order/detail?orderId='+id}">预览</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center"><ul id="orderListPage"></ul></div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/js/knockout")
    @Scripts.Render("~/bundles/js/pager")
    @Scripts.Render("~/bundles/js/fileupload")
    @Scripts.Render("~/bundles/js/order/myOrders")
}
