@model SaleManagement.Core.Models.Notice
@{
    Layout = null;
}

@using (Html.BeginForm("Edit", "Notice", FormMethod.Post, new { id = "editNoticeForm" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">新增/编辑公告</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label col-md-2" for="Name">
                    <span class="text-danger">*</span>内容
                </label>
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Content,  new { @class = "form-control",rows = "5", })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
            <input class="btn btn-primary" type="submit" value="保存" />
        </div>
    </div>
}

@Scripts.Render("~/bundles/js/jqueryval")
@Scripts.Render("~/bundles/js/ajaxForm")
@Scripts.Render("~/bundles/js/notice/edit")