@using SaleManagement.Core
@model SaleManagement.Protal.Models.Home.HomeViewModel
@{
    Title("首页");
}
@section css{
    <link href="~/static/fullcalendar/fullcalendar.css" rel="stylesheet" />
}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="/home/index">首页</a>
        </li>
        <li>
            生产单管理
        </li>
    </ul>
</div>

<div class=" row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="" class="well top-block" href="/order/list?Status=0">
            <div>未处理订单</div>
            <div>@Model.OrderStatistics.UnConfirmedCount</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="" class="well top-block" href="/order/list">
            <div>生产中的订单</div>
            <div>@Model.OrderStatistics.ProcessingCount</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="" class="well top-block" href="/order/list?Status=9">
            <div>待出货的订单</div>
            <div>@Model.OrderStatistics.ShipmentCount</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="" class="well top-block" href="/order/list?UrgentStatus=1">
            <div>紧急订单</div>
            <div>@Model.OrderStatistics.UrgentCount</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="" class="well top-block" href="/order/list?UrgentStatus=2">
            <div>非常紧急订单</div>
            <div>@Model.OrderStatistics.VeryUrgentCount</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6 hidden">
        <a data-toggle="tooltip" title="" class="well top-block" href="/order/list?RushStatus=1">
            <div>客户紧急订单</div>
            <div>@Model.OrderStatistics.RushCount</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6 hidden">
        <a data-toggle="tooltip" title="" class="well top-block" href="/order/list?RushStatus=2">
            <div>客户特急订单</div>
            <div>@Model.OrderStatistics.VeryRushCount</div>
        </a>
    </div>
</div>

<div class="row">
    <div class="box col-md-8">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>预计出货日历</h2>
            </div>

            <div class="box-content">
                <div id='calendar' class="ptop5"></div>
            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->

@section scripts{
    <script src="~/static/moment/moment.min.js"></script>
    <script src="~/static/fullcalendar/fullcalendar.js"></script>
    <script src="~/static/fullcalendar/locale-all.js"></script>
    <script type="text/javascript">
        $().ready(function () {
            var initialLocaleCode = 'en';

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: ''
                },
                locale: 'zh-cn',
                buttonIcons: false, // show the prev/next text
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: function (start, end, timezone, callback) {
                    $.ajax({
                        url: '/order/Calendar',
                        dataType: 'json',
                        data: {
                            // our hypothetical feed requires UNIX timestamps
                            start: start._d.toLocaleDateString(),
                            end: end._d.toLocaleDateString()
                        },
                        success: function (result) {
                            if (result.succeeded) {
                                callback(result.data);
                            }
                        }
                    });
                },
                eventClick: function (calEvent, jsEvent, view) {
                    var startDate = formatDate(calEvent.start._d);
                    location.href = "/order/list?IsProcess=true&DeliveryStartDate=" + startDate + "&DeliveryEndDate=" + startDate;
                }
            });
        })
    </script>
}
