@model SaleManagement.Protal.Models.Reconciliation.ReconciliationQueryRequest
@using SaleManagement.Core;
@{
    Title("对账");
}

@Styles.Render("~/Bundles/Static/Css/DateTimePicker")
<div>
    <ul class="breadcrumb">
        <li>
            <a href="/home/index">首页</a>
        </li>
        <li>
            <a href="/Reconciliation/list">对账单</a>
        </li>
    </ul>
</div>
<div class="search">
    @Html.Partial("_Customer")
    <div class="date-conditions pull-left">
        <div class="textfield pull-left"><div class="field-label" style="width: 50px;">日期：</div><div class="field-body" style="width: 100px;"><input class="form-control" id="createdStartDate" type="text" placeholder="开始日期" value="@Model.CreatedStartDate.ToShortDateString()"></div></div>
        <span class="pull-left">-</span>
        <div class="textfield pull-left"><div class="field-body" style="width: 100px;"><input class="form-control" id="createdEndDate" type="text" placeholder="结束日期" value="@Model.CreatedEndDate.ToShortDateString()"></div></div>
    </div>
    <div class="combobox pull-left">
        @{
            var reconciliationType = EnumHelper.GetSelectList(typeof(SaleManagement.Core.Models.ReconciliationType));
        }
        <div class="combobox-body" style="width: 150px;">
            @Html.DropDownList("type", reconciliationType, "请选择欠付款", new { Class = "pull-left form-control" })
        </div>
    </div>
    <div class="combobox pull-left">
        @{
            var arrearageType = EnumHelper.GetSelectList(typeof(SaleManagement.Protal.Models.Reconciliation.ArrearageType));
        }
        <div class="combobox-body" style="width: 150px;">
            @Html.DropDownList("arrearageType", arrearageType, "请选择欠付类型", new { Class = "pull-left form-control" })
        </div>
    </div>
    <button id="btnSearch" class="btn btn-primary">查询</button>
</div>

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>对账单列表</h2>
                <div class="box-icon">
                    <a href="/Reconciliation/Add" class="btn">
                        <i class="glyphicon glyphicon-plus"></i>
                        新增
                    </a>
                    @if (ShowWithRoles(SaleManagentConstants.SystemRole.Admin))
                    {
                        <a id="btnRemove" class="btn">
                            <i class="glyphicon glyphicon-remove"></i>
                            删除
                        </a>
                    }
                    <a id="btnExport" class="btn">
                        <i class="glyphicon glyphicon-export"></i>
                        导出
                    </a>
                </div>
            </div>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable  responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th width="100">对账Id</th>
                            <th width="200">客户</th>
                            <th width="100">付/欠款</th>
                            <th width="100">金额(元)</th>
                            <th width="150">日期</th>
                            <th>备注</th>
                            @if (ShowWithRoles(SaleManagentConstants.SystemRole.Admin))
                            {
                                <th width="100">操作</th>
                            }
                        </tr>
                    </thead>
                    <tbody id="tbody" data-bind="foreach:reconciliations">
                        <tr>
                            <td><input type="checkbox" data-bind="value:id,checked:false" /></td>
                            <td data-bind="text:id"></td>
                            <td data-bind="text:customerName"></td>
                            <td data-bind="text:reconciliationTypeName"></td>
                            <td data-bind="text:amount"></td>
                            <td data-bind="text:created"></td>
                            <td data-bind="text:remark"></td>
                            @if (ShowWithRoles(SaleManagentConstants.SystemRole.Admin))
                            {
                                <td><a data-bind="attr:{href:'/Reconciliation/Edit?id='+id}" class="btn btn-danger btn-sm">编辑</a></td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center"><ul id="reconciliationListPage"></ul></div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->

@section scripts{
    @Scripts.Render("~/bundles/js/dateTimePicker")
    @Scripts.Render("~/bundles/js/knockout")
    @Scripts.Render("~/bundles/js/pager")
    @Scripts.Render("~/bundles/js/reconciliation/list")
    @Scripts.Render("~/bundles/js/control/customer")
}