@model IEnumerable<SaleManagement.Core.Models.MatchStone>
@{
    Title("配石信息");
}

<div>
    <ul class="breadcrumb">
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/BasicData/MatchStones">配石信息</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>配石列表</h2>
                <div class="box-icon">
                    <a data-toggle="modal" href="/BasicData/EditMatchStone" data-target="#modal" class="btn">
                        <i class="glyphicon glyphicon-plus"></i>
                        新增
                    </a>
                </div>
            </div>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>名称</th>
                            <th>单价(元/ct)</th>
                            <th>工费(元/粒)</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {

                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    <td>@item.WorkingCost</td>
                                    <td class="col-md-3">
                                        <a class="btn btn-info btn-edit btn-sm" href="#" data-id="@item.Id">
                                            <i class="glyphicon glyphicon-edit icon-white"></i>
                                            编辑
                                        </a>
                                        <a class="btn btn-danger btn-deleted btn-sm" data-id="@item.Id" href="#">
                                            <i class="glyphicon glyphicon-trash icon-white"></i>
                                            删除
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="3" class="text-center">暂无数据</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/js/jqueryval")
    @Scripts.Render("~/bundles/js/matchStones")
}
