@using SaleManagement.Core
@model SaleManagement.Protal.Models.SaleUserEditViewModel
@{
   Title("编辑用户");
}

@Html.HiddenFor(model => model.Id)
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label for="Email" class="control-label col-md-2"><span class="text-danger">*</span>账号</label>
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "请输入用户名" })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Password">
            <span class="text-danger">*</span>登录密码
        </label>
        <div class="col-md-6">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control text-box single-line", placeholder = SaleManagentConstants.Errors.PasswordError })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Account">
            <span class="text-danger">*</span>确认密码
        </label>
        <div class="col-md-6">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control text-box single-line", placeholder = "请再输入一遍密码" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Account">
            <span class="text-danger">*</span>员工姓名
        </label>
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control text-box single-line", placeholder = "请输入姓名" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Account">
            <span class="text-danger"></span>邮箱
        </label>
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control text-box single-line", placeholder = "请输入邮箱" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Account">
            <span class="text-danger">*</span>角色
        </label>
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.RoleId,(IEnumerable<SelectListItem>)ViewBag.Roles,"请选择", new { @class = "form-control text-box single-line"})
            @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Account">
            <span class="text-danger"></span>手机
        </label>
        <div class="col-md-6">
            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control text-box single-line", placeholder = "请输入手机号" })
            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="Account">&nbsp;</label>
        <div class="col-md-3">
            <input class="btn btn-primary btn-block" type="submit" value="保存" />
        </div>
    </div>
</div>