@model SaleManagement.Protal.Models.Shipment.ShipmentOrderViewModel
@using Dickson.Core.Common.Extensions
@{
    ViewBag.Title = "产品出货明细单";
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>产品出货明细单</title>
    @Styles.Render("~/Bundles/Static/Css/Bootstrap")
    @Styles.Render("~/Bundles/Static/Css/Layout")
    <style type="text/css">
        body {
            color: #000000;
            -webkit-text-size-adjust: none;
            font-size: 12px;
        }

        h4 {
            font-size: 12px;
        }

        .table {
            margin-bottom: 0px;
            text-align: center;
        }

        .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
            padding: 5px;
            border: 1px solid #000000;
        }

        .table tr th {
            background-color: #ffffff;
            font-weight: normal;
        }
    </style>
    <style type="text/css" media="print">
        @@media print {
            .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                padding-right: 0px;
                padding-left: 0px;
            }

            body {
                color: #000000;
                -webkit-text-size-adjust: none;
                font-size: 9.6px;
                -webkit-transform-origin-x: 0;
                -webkit-transform: scale(0.8);
            }

            .table {
                width: 1200px;
            }

            .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
                padding: 5px;
                border: 1px solid #000000 !important;
            }
        }
    </style>
</head>
<body>
    <div style="margin:0px auto; width:1250px;border:1px solid #e2f1f1">
        @{
            var isEmployee = User.IdentityType == SaleManagement.Core.Models.IdentityType.Employee;
        }

        <div class="pull-right">
            <button id="btnPrint" class="btn btn-primary" onclick="printClick()">打印</button>
        </div>
        <div id="divPrint">
            <div class="text-center">
                <h4>产品出货明细单</h4>
            </div>
            <div style="display:inline-block;width:100%">
                <div class="col-md-4 col-xs-4">出货单号：@Model.Id</div>
                <div class="col-md-4 col-xs-4">出货日期：@Model.DeliveryDate</div>
                <div class="col-md-4 col-xs-4">客户：@Model.CustomerName</div>
            </div>
            <table class="table table-bordered bootstrap-datatable" border="1">
                <tbody>
                    <tr>
                        <th>订单号</th>
                        <th>指圈</th>
                        <th>件数</th>
                        <th>总重</th>
                        <th>净金重</th>
                        <th>含耗重</th>
                        <th>成色</th>
                        <th>金价</th>
                        <th>金料额</th>
                        <th>主石数</th>
                        <th>主石重</th>
                        <th>风险费</th>
                        <th>镶石工费</th>
                        <th>副石额</th>
                        <th>基本工费</th>
                        <th>起蜡/出版</th>
                        <th>其他工艺</th>
                        @*<th>加急费用</th>*@
                        <th>总额</th>
                    </tr>
                    @{
                        double totalHhz = 0;
                        double totalGoldAmount = 0;
                        int totalMainStoneNumber = 0;
                        double totalMainStoneSize = 0;
                        double totalRiskFee = 0;
                        double totalSetStoneWorkingCost = 0;
                        double totalSideStoneTotalAmount = 0;
                        double totalBasicCost = 0;
                        double totalOutputWaxCost = 0;
                        double totalOtherCost = 0;
                        double totalRushCost = 0;
                    }
                    @foreach (var item in Model.ShipmentOrderInfos)
                    {
                        totalHhz = totalHhz + item.Hhz;
                        totalGoldAmount = totalGoldAmount + item.GoldAmount;
                        totalMainStoneNumber = totalMainStoneNumber + item.MainStoneNumber;
                        totalMainStoneSize = totalMainStoneSize + item.MainStoneSize;
                        totalRiskFee = totalRiskFee + item.RiskFee;
                        totalSetStoneWorkingCost = totalSetStoneWorkingCost + item.TotalSetStoneWorkingCost;
                        totalSideStoneTotalAmount = totalSideStoneTotalAmount + item.SideStoneTotalAmount;
                        totalBasicCost = totalBasicCost + item.BasicCost;
                        totalOutputWaxCost = totalOutputWaxCost + item.OutputWaxCost;
                        totalOtherCost = totalOtherCost + item.OtherCost;
                        totalRushCost = totalRushCost + item.RushCost;
                        <tr>
                            <td width="60">
                                @item.Id
                            </td>
                            <td>@item.RangSize</td>
                            <td>@item.Number</td>
                            <td>@item.Weight</td>
                            <td>@item.GoldWeight</td>
                            <td>@item.Hhz</td>
                            <td>@item.ColorFormName</td>
                            <td>@item.GoldPrice.ToString("f2")</td>
                            <td>@item.GoldAmount</td>
                            <td>@item.MainStoneNumber</td>
                            <td>@item.MainStoneSize</td>
                            <td>@item.RiskFee</td>
                            <td>@item.TotalSetStoneWorkingCost</td>
                            <td>@item.SideStoneTotalAmount.ToString("f2")</td>
                            <td>@item.BasicCost</td>
                            <td>@item.OutputWaxCost</td>
                            <td>@item.OtherCost</td>
                            @*<td>@item.RushCost</td>*@
                            <td>@item.TotalAmount</td>
                        </tr>
                    }
                    <tr>
                        <td>总计</td>
                        <td></td>
                        <td>@Model.TotalNumber</td>
                        <td>@Model.TotalWeight</td>
                        <td>@Model.TotalGoldWeight</td>
                        <td>@totalHhz</td>
                        <td></td>
                        <td></td>
                        <td>@totalGoldAmount</td>
                        <td>@totalMainStoneNumber</td>
                        <td>@totalMainStoneSize</td>
                        <td>@totalRiskFee</td>
                        <td>@totalSetStoneWorkingCost</td>
                        <td>@totalSideStoneTotalAmount</td>
                        <td>@totalBasicCost</td>
                        <td>@totalOutputWaxCost</td>
                        <td>@totalOtherCost</td>
                        @*<td>@totalRushCost</td>*@
                        <td>@Model.TotalAmount</td>
                    </tr>
                </tbody>
            </table>

            <div class="mtop10">
                <table class="table table-bordered bootstrap-datatable">
                    <tbody>
                        <tr>
                            <th>订单号</th>
                            <th>副石名称</th>
                            <th>价格(元/ct)</th>
                            <th>数量(粒)</th>
                            <th>工费(元)</th>
                            <th>总重(ct)</th>
                            <th>副石额(元)</th>
                        </tr>
                        @foreach (var item in Model.ShipmentOrderInfos)
                        {
                            var count = item.OrderSetStoneInfos.Count();
                            if (count > 0)
                            {
                                <tr>
                                    <td rowspan="@(count == 0 ? 0 : count + 2)">@item.Id</td>
                                </tr>
                                foreach (var setStone in item.OrderSetStoneInfos)
                                {
                                    <tr>
                                        <td>@setStone.MatchStoneName</td>
                                        <td>@setStone.Price</td>
                                        <td>@setStone.Number</td>
                                        <td>@setStone.SetStoneWorkingCost</td>
                                        <td>@setStone.Weight</td>
                                        <td>@setStone.TotalAmount.ToString("f2")</td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="2">总计（折后）</td>
                                    <td>@item.SideStoneNumber</td>
                                    <td>@item.TotalSetStoneWorkingCost</td>
                                    <td>@item.SideStoneWeight</td>
                                    <td>@item.SideStoneTotalAmount.ToString("f2")</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <div class="col-md-4 col-xs-4">本单小写金额： ￥@Model.TotalAmount</div>
                <div class="col-md-4 col-xs-4">制单人：@Model.CreatorName</div>
                <div class="col-md-4 col-xs-4">制单日期：@Model.Created</div>
            </div>

            <div style="display:inline-block;width:100%">
                <div>注：1) 收到货品后，请及时检验，如有质量问题，请在一个星期内以书面形式向我司售后服务部反馈，逾期视为该产品均符合客户要求。</div>
                <div style="padding-left:25px;margin-top:0px">2) 出货7天内没取货，按每月3%收取滞纳金。</div>
            </div>

            <div style="display:inline-block;width:100%">
                <div class="col-md-4 col-xs-4">审核：</div>
                <div class="col-md-4 col-xs-4">收货：</div>
                <div class="col-md-4 col-xs-4">合计：@Model.TotalAmount</div>
            </div>
        </div>
    </div>
</body>
</html>
@Scripts.Render("~/bundles/Static/js/jquery")
<script type="text/javascript">
    function printClick() {
        var headstr = "<html><head><title></title></head><body>";
        var footstr = "</body>";
        var newstr = document.all.item("divPrint").innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = headstr + newstr + footstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;
    }
</script>