@using SaleManagement.Core;
@{
    Title("出货单管理");
}

@Styles.Render("~/Bundles/Static/Css/DateTimePicker")
<div>
    <ul class="breadcrumb">
        <li>
            <a href="/home/index">首页</a>
        </li>
        <li>
            <a href="/Shipment/list">出货单管理</a>
        </li>
    </ul>
</div>

<div class="search">
    @Html.Partial("_Customer")
    <div class="textfield pull-left"><div class="field-body" style="width: 150px;"><input id="shipmentOrderId" class="form-control" type="text" placeholder="输入出货单号"></div></div>
    <div class="date-conditions pull-left">
        <div class="textfield pull-left"><div class="field-label" style="width: 100px;">预计交货时间：</div><div class="field-body" style="width: 100px;"><input class="form-control" id="deliveryStartDate" type="text" placeholder="开始日期"></div></div>
        <span class="pull-left">-</span>
        <div class="textfield pull-left"><div class="field-body" style="width: 100px;"><input class="form-control" id="deliveryEndDate" type="text" placeholder="结束日期"></div></div>
    </div>
    <div class="textfield pull-left"><div class="field-body" style="width: 150px;"><input id="orderId" class="form-control" type="text" placeholder="输入订单号"></div></div>
    <div class="combobox pull-left">
        @{
            var orderStatusItem = EnumHelper.GetSelectList(typeof(SaleManagement.Core.Models.ShipmentOrderAduitStatus));
        }
        <div class="combobox-body" style="width: 150px;">
            @Html.DropDownList("shipmentOrderAduitStatus", orderStatusItem, "请选择出货单状态", new { Class = "pull-left form-control" })
        </div>
    </div>

    <button id="btnSearch" class="btn btn-primary">查询</button>
</div>

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>生产单列表</h2>
                <div class="box-icon">
                    <a id="btnAudit" class="btn">
                        <i class="glyphicon glyphicon-ok"></i>
                        审核
                    </a>
                </div>
            </div>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable  responsive">
                    <thead>
                        <tr>
                            <th></th>
                            <th>状态</th>
                            <th>出货单号</th>
                            <th>出货日期</th>
                            <th>客户</th>
                            <th>总件数</th>
                            <th>总金重(g)</th>
                            <th>总重(g)</th>
                            <th>总金额(元)</th>
                            <th>制单人</th>
                            <th>制单日期</th>
                            <th>审核人</th>
                            <th>审核日期</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="tbody" data-bind="foreach:orders">
                        <tr>
                            <td><input type="checkbox" data-bind="value:id,attr:{status:auditStatus},checked:false" /></td>
                            <!-- ko if:auditStatus==0 -->
                            <td>未审核</td>
                            <!-- /ko -->
                            <!-- ko if:auditStatus==1 -->
                            <td>已审核</td>
                            <!-- /ko -->
                            <td data-bind="text:id"></td>
                            <td data-bind="text:deliveryDate"></td>
                            <td data-bind="text:customerName"></td>
                            <td data-bind="text:totalNumber"></td>
                            <td data-bind="text:totalGoldWeight"></td>
                            <td data-bind="text:totalWeight"></td>
                            <td data-bind="text:totalAmount"></td>
                            <td data-bind="text:creatorName"></td>
                            <td data-bind="text:created"></td>
                            <td data-bind="text:auditorName"></td>
                            <td data-bind="text:auditDate"></td>
                            <td>
                                <!-- ko if:auditStatus==0 -->
                                <a class="btn btn-primary btn-sm" data-bind="attr:{href:'/shipment/edit?id='+id}">编辑</a>
                                <!-- /ko -->
                                <a class="btn btn-danger btn-sm" target="_blank" data-bind="attr:{href:'/shipment/detail?id='+id}">预览</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center"><ul id="orderListPage"></ul></div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/js/dateTimePicker")
    @Scripts.Render("~/bundles/js/knockout")
    @Scripts.Render("~/bundles/js/pager")
    @Scripts.Render("~/bundles/js/shipment/list")
    @Scripts.Render("~/bundles/js/control/customer")
}
